<% content_for :secondary_nav do %>
  <div class="secondary-nav secondary-nav--subnav">
    <ul>
      <%= public_page_link decidim_courses.course_path(current_participatory_space) %>
      <% if allowed_to? :update, :course, course: current_participatory_space %>
        <li <% if is_active_link?(decidim_admin_courses.edit_course_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("info", scope: "decidim.admin.menu.courses_submenu"), decidim_admin_courses.edit_course_path(current_participatory_space) %>
        </li>
      <% end %>
      <% if allowed_to?(:read, :attachment_collection, course: current_participatory_space) || allowed_to?(:read, :attachment, course: current_participatory_space) %>
        <li>
          <span class="secondary-nav__subtitle"><%= t("attachments", scope: "decidim.admin.menu.courses_submenu") %></span>
          <ul>
            <% if allowed_to? :read, :attachment_collection, course: current_participatory_space %>
              <li <% if is_active_link?(decidim_admin_courses.course_attachment_collections_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("attachment_collections", scope: "decidim.admin.menu.courses_submenu"), decidim_admin_courses.course_attachment_collections_path(current_participatory_space) %>
              </li>
            <% end %>
            <% if allowed_to? :read, :attachment, course: current_participatory_space %>
              <li <% if is_active_link?(decidim_admin_courses.course_attachments_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("attachment_files", scope: "decidim.admin.menu.courses_submenu"), decidim_admin_courses.course_attachments_path(current_participatory_space) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if allowed_to?(:read, :registration_type, course: current_participatory_space) || allowed_to?(:read, :course_registration, course: current_participatory_space) %>
        <li>
          <span class="secondary-nav__subtitle"><%= t("registrations", scope: "decidim.admin.menu.courses_submenu") %></span>
          <ul>
            <% if allowed_to? :read, :registration_type, course: current_participatory_space %>
              <li <% if is_active_link?(decidim_admin_courses.course_registration_types_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("registration_types", scope: "decidim.admin.menu.courses_submenu"), decidim_admin_courses.course_registration_types_path(current_participatory_space) %>
              </li>
            <% end %>
            <% if allowed_to? :read, :course_registration, course: current_participatory_space %>
              <li <% if is_active_link?(decidim_admin_courses.course_course_registrations_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("user_registrations", scope: "decidim.admin.menu.courses_submenu"), decidim_admin_courses.course_course_registrations_path(current_participatory_space) %>
              </li>
            <% end %>
            <% if allowed_to? :read, :course_invite, course: current_participatory_space %>
              <li <% if is_active_link?(decidim_admin_courses.course_course_invites_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("course_invites", scope: "decidim.admin.menu.courses_submenu"), decidim_admin_courses.course_course_invites_path(current_participatory_space) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if allowed_to? :read, :course_user_role, course: current_participatory_space %>
        <li <% if is_active_link?(decidim_admin_courses.course_user_roles_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("course_admins", scope: "decidim.admin.menu.courses_submenu"), decidim_admin_courses.course_user_roles_path(current_participatory_space) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to translated_attribute(current_participatory_space.title), decidim_courses.course_path(current_participatory_space), target: "_blank" %>
    </div>
  </div>

  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
