<% add_decidim_meta_tags({
                           image_url: current_participatory_space.hero_image.url,
                           text: translated_attribute(current_participatory_space.text),
                           twitter_handler: current_organization.twitter_handler
                         }) %>

<%
  edit_link(
    resource_locator(current_participatory_space).edit,
    :update,
    :resource_bank,
    resource_bank: current_participatory_space
  )
%>

<%= participatory_space_floating_help %>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <div class="lead"></div>

        <%= decidim_sanitize translated_attribute(current_participatory_space.text) %>
      </div>

      <%= attachments_for current_participatory_space %>

      <%= render_hook(:participatory_space_highlighted_elements) %>
    </div>

    <div class="section columns medium-5 mediumlarge-4 large-3">
      <div class="card extra">
        <div class="card__content">
          <%= render partial: "decidim/shared/follow_button", locals: { followable: current_participatory_space, large: false  } %>
        </div>
      </div>
      <div class="card extra definition-data">
        <% if translated_attribute(current_participatory_space.video_url).present? %>
          <div class="definition-data__item video_url">
            <span class="definition-data__title"><%= t("video_url", scope: "decidim.resource_banks.show") %></span>
            <%= link_to html_truncate(current_participatory_space.video_url.gsub(%r{https?\:\/\/}, ""), length: 30), current_participatory_space.video_url, target: "_blank" %>
          </div>
        <% end %>

        <% if current_participatory_space.authorship.present? %>
          <div class="definition-data__item authorship">
            <span class="definition-data__title"><%= t("authorship", scope: "decidim.resource_banks.show") %></span>
            <%= current_participatory_space.authorship %>
          </div>
        <% end %>
      </div>
      <%= resource_reference(current_participatory_space) %>
      <%= render partial: "decidim/shared/share_modal" %>
    </div>
  </div>

  <% if current_participatory_space.show_statistics? %>
    <%= render partial: "statistics" %>
  <% end %>
</div>
