<% if @forced_past_courses %>
  <div class="callout warning">
    <%= t ".upcoming_courses_warning" %>
  </div>
<% elsif courses.length == 0 %>
  <div class="callout warning">
    <%= t ".no_courses_warning" %>
  </div>
<% end %>

<div class="row small-up-1 medium-up-2 card-grid">
  <div class="column">
    <%= render partial: "decidim/shared/results_per_page" %>
  </div>
</div>

<div class="row small-up-1 medium-up-2 card-grid">
  <%= render courses %>
</div>

<%= decidim_paginate courses, scope_id: params[:scope_id] %>
