
<% add_decidim_meta_tags(title: t("courses.index.title", scope: "decidim")) %>

<%
edit_link(
  decidim_admin_courses.courses_path,
  :read,
  :course_list
)
%>

<%= participatory_space_wrapper do %>
  <% if promoted_courses.any? %>
    <section id="highlighted-courses" class="row section">
      <h1 class="section-heading"><%= t("courses.index.promoted_courses", scope: "layouts.decidim") %></h1>
      <%= render partial: "promoted_course", collection: promoted_courses, as: :promoted_course %>
    </section>
  <% end %>

  <div class="row columns">
    <div class="title-action">
      <%= render partial: "index_header" %>
    </div>
  </div>

  <div class="row">
    <div class="columns mediumlarge-4 large-3">
      <%= render partial: "filters_small_view" %>
      <div class="card card--secondary show-for-mediumlarge">
        <%= render partial: "filters" %>
      </div>
    </div>
    <div id="courses" class="columns mediumlarge-8 large-9">
      <%= render partial: "courses" %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag "decidim/filters" %>
