<% add_decidim_meta_tags({
                           image_url: current_participatory_space.hero_image.url,
                           description: translated_attribute(current_participatory_space.description),
                           url: course_url(current_participatory_space),
                           twitter_handler: current_organization.twitter_handler
                         }) %>

<%
  edit_link(
    resource_locator(current_participatory_space).edit,
    :update,
    :course,
    course: current_participatory_space
  )
%>

<%= participatory_space_floating_help %>

<% if translated_attribute(current_participatory_space.announcement).present? %>
  <%= render partial: "decidim/shared/announcement",
             locals: { announcement: current_participatory_space.announcement } %>
<% end %>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <% if decidim_sanitize(translated_attribute(current_participatory_space.description)).present? %>
          <div class="lead">
            <%= t("presentation", scope: "decidim.course.show")%>
          </div>
          <%= decidim_sanitize translated_attribute(current_participatory_space.description) %>
        <% end %>
        <% if decidim_sanitize(translated_attribute(current_participatory_space.objectives)).present? %>
          <div class="lead">
            <%= t("objectives", scope: "decidim.course.show")%>
          </div>
          <%= decidim_sanitize translated_attribute(current_participatory_space.objectives) %>
        <% end %>
        <% if decidim_sanitize(translated_attribute(current_participatory_space.addressed_to)).present? %>
          <div class="lead">
            <%= t("addressed_to", scope: "decidim.course.show")%>
          </div>
          <%= decidim_sanitize translated_attribute(current_participatory_space.addressed_to) %>
        <% end %>
        <% if decidim_sanitize(translated_attribute(current_participatory_space.programme)).present? %>
          <div class="lead">
            <%= t("programme", scope: "decidim.course.show")%>
          </div>
          <%= decidim_sanitize translated_attribute(current_participatory_space.programme) %>
        <% end %>
        <% if decidim_sanitize(translated_attribute(current_participatory_space.professorship)).present? %>
          <div class="lead">
            <%= t("professorship", scope: "decidim.course.show")%>
          </div>
          <%= decidim_sanitize translated_attribute(current_participatory_space.professorship) %>
        <% end %>
        <% if decidim_sanitize(translated_attribute(current_participatory_space.methodology)).present? %>
          <div class="lead">
            <%= t("methodology", scope: "decidim.course.show")%>
          </div>
          <%= decidim_sanitize translated_attribute(current_participatory_space.methodology) %>
        <% end %>
         <% if current_participatory_space.registrations_enabled? %>
          <div class="lead">
            <%= t("seats", scope: "decidim.course.show")%>
          </div>
          <div><%= t("available_seats", scope: "decidim.course.show", count: current_participatory_space.available_slots)%></div>
          <div><%= t("total_seats", scope: "decidim.course.show", count: (current_participatory_space.available_slots - current_participatory_space.course_registrations.count))%></div>
        <% end %>
      </div>

      <%= attachments_for current_participatory_space %>

      <%= render_hook(:participatory_space_highlighted_elements) %>


    </div>

    <div class="section columns medium-5 mediumlarge-4 large-3">
      <div class="card extra definition-data">
        <% if current_participatory_space.start_date.present? %>
          <div class="definition-data__item start_date">
            <h1 class="course_start_date"><%= current_participatory_space.start_date.day %></h1>
            <span><%= l(current_participatory_space.start_date, format: "%B").capitalize %></span>
            <% if current_participatory_space.schedule.present? %>
              <h4><%= current_participatory_space.schedule %></h4>
            <% end %>
          </div>
        <% end %>

        <% if current_participatory_space.end_date.present? %>
          <div class="definition-data__item end_date basic_course_attribute">
            <span class="definition-data__title"><%= t("end_date", scope: "decidim.course.show") %></span>
            <%= l current_participatory_space.end_date, format: "%d %B" %>
          </div>
        <% end %>

        <% if current_participatory_space.duration.present? %>
          <div class="definition-data__item duration basic_course_attribute">
            <span class="definition-data__title"><%= t("duration", scope: "decidim.course.show") %></span>
            <%= current_participatory_space.duration %>
          </div>
        <% end %>

        <% if current_participatory_space.modality.present? %>
          <div class="definition-data__item modality basic_course_attribute">
            <span class="definition-data__title"><%= t("modality", scope: "decidim.course.show") %></span>
            <%= t(current_participatory_space.modality, scope: "decidim.courses.modality") %>
          </div>
        <% end %>

        <% if current_participatory_space.address.present? && current_participatory_space.modality != "online" %>
          <div class="definition-data__item course_address basic_course_attribute">
            <span class="definition-data__title"><%= t("address", scope: "decidim.course.show") %></span>
            <%= current_participatory_space.address %>
          </div>
        <% end %>

        <% if current_participatory_space.area.present? %>
          <div class="definition-data__item modality basic_course_attribute">
            <span class="definition-data__title"><%= t("author", scope: "decidim.course.show") %></span>
            <%= translated_attribute(current_participatory_space.area.name) %>
          </div>
        <% end %>

        <% if current_participatory_space.registration_link.present? && !current_participatory_space.registrations_enabled %>
          <div class="definition-data__item course_address basic_course_attribute">
            <span class="definition-data__title"><%= t("registration_link", scope: "decidim.course.show") %></span>
            <%= current_participatory_space.registration_link %>
          </div>
        <% end %>
      </div>


      <% if current_participatory_space.registrations_enabled? %>
        <div class="column">
          <div class="column">
            <%= link_to t(".register"), decidim_courses.course_registration_types_path(current_participatory_space), class:"button button--sc light expanded" %>
          </div>
        </div>
      <% end %>

      <%= resource_reference(current_participatory_space) %>
      <%= render partial: "decidim/shared/share_modal" %>
    </div>
  </div>

  <% if current_participatory_space.show_statistics? %>
    <%# TODO: create CourseStatsPresenter %>
    <%#= render partial: "statistics" %>
  <% end %>
</div>
