<% add_decidim_meta_tags({
                           image_url: current_participatory_space.hero_image.url,
                           description: translated_attribute(current_participatory_space.description),
                           url: course_url(current_participatory_space),
                           twitter_handler: current_organization.twitter_handler
                         }) %>

<%
  edit_link(
    resource_locator(current_participatory_space).edit,
    :update,
    :course,
    course: current_participatory_space
  )
%>

<%= participatory_space_floating_help %>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <div class="lead">

        </div>
        <%= decidim_sanitize translated_attribute(current_participatory_space.description) %>

      </div>

      <%= attachments_for current_participatory_space %>

      <%= render_hook(:participatory_space_highlighted_elements) %>


    </div>

    <div class="section columns medium-5 mediumlarge-4 large-3">
      <div class="card extra definition-data">
        <% if current_participatory_space.start_date.present? %>
          <div class="definition-data__item start_date">
            <h1 class="course_start_date"><%= current_participatory_space.start_date.day %></h1>
            <span><%= l(current_participatory_space.start_date, format: "%B").capitalize %></span>
            <% if current_participatory_space.schedule.present? %>
              <h4><%= current_participatory_space.schedule %></h4>
            <% end %>
          </div>
        <% end %>

        <% if current_participatory_space.end_date.present? %>
          <div class="definition-data__item end_date basic_course_attribute">
            <span class="definition-data__title"><%= t("end_date", scope: "decidim.course.show") %></span>
            <%= l current_participatory_space.end_date, format: "%d %B" %>
          </div>
        <% end %>

        <% if current_participatory_space.duration.present? %>
          <div class="definition-data__item duration basic_course_attribute">
            <span class="definition-data__title"><%= t("duration", scope: "decidim.course.show") %></span>
            <%= current_participatory_space.duration %>
          </div>
        <% end %>

        <% if current_participatory_space.modality.present? %>
          <div class="definition-data__item modality basic_course_attribute">
            <span class="definition-data__title"><%= t("modality", scope: "decidim.course.show") %></span>
            <%= t(current_participatory_space.modality, scope: "decidim.courses.modality") %>
          </div>
        <% end %>

        <% if current_participatory_space.address.present? && current_participatory_space.modality == "face-to-face" %>
          <div class="definition-data__item course_address basic_course_attribute">
            <span class="definition-data__title"><%= t("address", scope: "decidim.course.show") %></span>
            <%= current_participatory_space.address %>
          </div>
        <% end %>
      </div>
      <%= resource_reference(current_participatory_space) %>
      <%= render partial: "decidim/shared/share_modal" %>
    </div>
  </div>

  <% if current_participatory_space.show_statistics? %>
    <%= render partial: "statistics" %>
  <% end %>
</div>
