<div class="card card--course">
  <div class="p-s">
    <div class="card__header">
      <%= link_to resource_path, class: "card__link" do %>
        <span class="card__title">
          <%= title %>
        </span>
      <% end %>
    </div>
    <div class="card__text">
      <div class="card__course-date inline-block">
        <%= icon "datetime", class: "primary v-middle", role: "img", "aria-hidden": true %>
        <span class="text-medium mt-xs"><%= course_date %></span>
      </div>
      <div class="card__course-modality inline-block before-content">
        <span class="text-medium mt-xs"><%= modality %></span>
      </div>
      <% if instructors.present? %>
        <div class="card__course-instructor inline-block before-content">
          <span class="text-medium mt-xs"><%= instructors %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
