<div class="card card--course">
  <div class="p-s">
    <div class="card__header">
      <%= link_to resource_path, class: "card__link" do %>
        <span class="card__title">
          <%= title %>
        </span>
      <% end %>
    </div>
    <div class="card__text">
      <% if schedule.present? %>
        <div class="card__course-schedule inline-block">
          <%= icon "datetime", class: "primary", role: "img", "aria-hidden": true %>
          &nbsp;
          <span class="text-medium mt-xs"><%= schedule %></span>
        </div>
      <% end %>
      <div class="card__course-modality inline-block <%= "before-content" if schedule.present? %>">
        <span class="text-medium mt-xs"><%= modality %></span>
      </div>
      <% if instructors.present? %>
        <div class="card__course-instructor inline-block <%= "before-content" if schedule.present? || modality.present? %>">
          <span class="text-medium mt-xs"><%= instructors %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
