<div class="card card--course">
  <div class="p-s">
    <div class="card__header card__course-header">
      <%= link_to resource_path, class: "card__link" do %>
        <span class="card__title">
          <%= title %>
        </span>
      <% end %>
    </div>
    <div class="card__course-description block">
      <span class="text-medium mt-xs"><%= description %></span>
    </div>
    <% if organizer.present? %>
      <div class="card__course-organizer block before-content">
        <strong><%= t("organizer", scope: i18n_scope) %>:</strong>
        <span class="text-medium mt-xs"><%= organizer %></span>
      </div>
    <% end %>
    <div class="card__course-modality block before-content">
      <strong><%= t("modality", scope: i18n_scope) %>:</strong>
      <span class="text-medium mt-xs"><%= modality %></span>
    </div>
    <div class="card__course-date block">
      <strong><%= t("date", scope: i18n_scope) %>:</strong>
      <span class="text-medium mt-xs"><%= course_date %> <%= schedule %></span>
    </div>
  </div>
</div>
