<% add_decidim_meta_tags({
  description: t("decidim_services.description", scope: "participacatalunya")
}) %>

<%= stylesheet_link_tag 'decidim_services' %>
<div class="wrapper">
  <div class="row column">
    <div class="row">
      <div class="columns medium-7 mediumlarge-8">
        <div class="section decidim-services">
          <div class="title">
            <%= decidim_sanitize t("decidim_services.title1", scope: "participacatalunya") %>
          </div>
          <div class="description">
            <%= decidim_sanitize t("decidim_services.description1_1", scope: "participacatalunya") %>
          </div>
          <div class="description">
            <%= decidim_sanitize t("decidim_services.description1_2", scope: "participacatalunya") %>
          </div>
          <div class="title">
            <%= decidim_sanitize t("decidim_services.title2", scope: "participacatalunya") %>
          </div>
          <div class="description">
            <%= decidim_sanitize t("decidim_services.description2_1", scope: "participacatalunya") %>
          </div>
          <div class="description">
            <%= decidim_sanitize t("decidim_services.description2_2", scope: "participacatalunya") %>
          </div>
          <div class="description">
            <%= decidim_sanitize t("decidim_services.description2_3", scope: "participacatalunya") %>
          </div>
          <div class="title">
            <%= decidim_sanitize t("decidim_services.title3", scope: "participacatalunya") %>
          </div>
          <div class="description">
            <%= decidim_sanitize t("decidim_services.description3_1", scope: "participacatalunya") %>
          </div>
          <div class="description">
            <%= decidim_sanitize t("decidim_services.description3_2", scope: "participacatalunya") %>
          </div>
          <div class="title">
            <%= decidim_sanitize t("decidim_services.title4", scope: "participacatalunya") %>
          </div>
          <div class="description">
            <%= decidim_sanitize t("decidim_services.description4_1", scope: "participacatalunya") %>
            <ul>
              <li><%= decidim_sanitize t("decidim_services.option4_1", scope: "participacatalunya") %></li>
              <li><%= decidim_sanitize t("decidim_services.option4_2", scope: "participacatalunya") %></li>
              <li><%= decidim_sanitize t("decidim_services.option4_3", scope: "participacatalunya") %></li>
            </ul>
          </div>
          <div class="title">
            <%= decidim_sanitize t("decidim_services.title5", scope: "participacatalunya") %>
          </div>
          <div class="description">
            <%= decidim_sanitize t("decidim_services.description5_1", scope: "participacatalunya") %>
            <%= decidim_sanitize t("decidim_services.description5_2", scope: "participacatalunya") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
