<% content_for :secondary_nav do %>
  <div class="secondary-nav secondary-nav--subnav">
    <ul>
      <%= public_page_link decidim_resource_banks.resource_bank_path(current_participatory_space) %>
      <% if allowed_to? :update, :resource_bank, resource_bank: current_participatory_space %>
        <li <% if is_active_link?(decidim_admin_resource_banks.edit_resource_bank_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("info", scope: "decidim.admin.menu.resource_banks_submenu"), decidim_admin_resource_banks.edit_resource_bank_path(current_participatory_space) %>
        </li>
      <% end %>
      <% if allowed_to?(:read, :attachment_collection, resource_bank: current_participatory_space) || allowed_to?(:read, :attachment, resource_bank: current_participatory_space) %>
        <li>
          <span class="secondary-nav__subtitle"><%= t("attachments", scope: "decidim.admin.menu.resource_banks_submenu") %></span>
          <ul>
            <% if allowed_to? :read, :attachment_collection, resource_bank: current_participatory_space %>
              <li <% if is_active_link?(decidim_admin_resource_banks.resource_bank_attachment_collections_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("attachment_collections", scope: "decidim.admin.menu.resource_banks_submenu"), decidim_admin_resource_banks.resource_bank_attachment_collections_path(current_participatory_space) %>
              </li>
            <% end %>
            <% if allowed_to? :read, :attachment, resource_bank: current_participatory_space %>
              <li <% if is_active_link?(decidim_admin_resource_banks.resource_bank_attachments_path(current_participatory_space)) %> class="is-active" <% end %>>
                <%= aria_selected_link_to t("attachment_files", scope: "decidim.admin.menu.resource_banks_submenu"), decidim_admin_resource_banks.resource_bank_attachments_path(current_participatory_space) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if allowed_to? :read, :resource_bank_user_role, resource_bank: current_participatory_space %>
        <li <% if is_active_link?(decidim_admin_resource_banks.resource_bank_user_roles_path(current_participatory_space)) %> class="is-active" <% end %>>
          <%= aria_selected_link_to t("resource_bank_admins", scope: "decidim.admin.menu.resource_banks_submenu"), decidim_admin_resource_banks.resource_bank_user_roles_path(current_participatory_space) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to translated_attribute(current_participatory_space.title), decidim_resource_banks.resource_bank_path(current_participatory_space), target: "_blank" %>
    </div>
  </div>

  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
